In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('London dataset.csv')

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

# Add a new column ''month'' as 2nd column in the dataframe, which contains month only.

In [ ]:
df.dtypes

In [ ]:
df.date = pd.to_datetime(df.date)
#df.no_of_crimes = df.no_of_crimes.fillna(0).astype(int)

In [ ]:
df.dtypes

# Add a new column ''month'' as 2nd column in the dataframe, which contains month only.

In [ ]:
df.date

In [ ]:
df["year"] = df.date.dt.year

# Add a new column ''month'' as 2nd column in the dataframe, which contains month only.

In [ ]:
df.head()

In [ ]:
df.insert(1 , 'month', df.date.dt.month)

# Chnage the order of columns

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df = df[['date', 'month', 'year', 'area', 'average_price', 'houses_sold',
       'no_of_crimes', 'code']]

In [ ]:
df.head()

# Remove the column month from data frame

In [ ]:
df.drop(['month'],axis=1,inplace= True)

#  Show all the records where 'No. of Crimes' is 0. And, how many such records are there ?

In [ ]:
df[df.no_of_crimes == 0].head(10)
len(df[df.no_of_crimes == 0])

#  What is the maximum & minimum 'average_price' per year in england ?

In [ ]:
word_to_check = 'england'
is_in_column = df['area'].str.contains(word_to_check).any()

if is_in_column:
    print(f"'{word_to_check}' is in the 'area' column.")
else:
    print(f"'{word_to_check}' is not in the 'area' column.")

In [ ]:
df1 = df[df.area =='england']

In [ ]:
df1.groupby('year')['average_price'].min()
df1.groupby('year')['average_price'].max()

# What is the max and min no of crimes per area

In [ ]:
df.groupby('area')['no_of_crimes'].min()
df.groupby('area')['no_of_crimes'].max().sort_values(ascending=False)

# Show the total count record of each area, where average price is less than 100000

In [ ]:
df[df['average_price']<100000].area.value_counts()